
<h3>Generate Keys</h3>
* https://help.github.com/articles/generating-ssh-keys
* Login to Beanstalkapp
* Upload to beanstalkapp.com

<h3>Configure ssh-agent</h3>
* caches passphrase in memory upon opening console
* http://stackoverflow.com/questions/4083079/how-to-run-git-ssh-authentication-agent/10077302#10077302

<h3>Configure Console2</h3>
* console2 is a nice alternative to cmd.exe because:
** it has multiple tabs
** it has better highlight, copy and paste editing
* console settings:
** shell: "C:\Program Files (x86)\Git\bin\sh.exe" --login -i
** startup dir: c:\inetpub\wwwroot\dewey
